body {
    background-color: rgba(0, 0, 0, 0.769);
}

.table-main {
    border: 1px solid black;
    width: 75%;
}

.th-main, .td-main {
    border: 1px solid black;
    color: white;
}

.th-main {
    background-color: teal;
}

.main-table-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-table-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-report {
    border: 1px solid black;
    width: 75%;
}

.th-report, .td-report {
    border: 1px solid black;
    color: white;
}

.th-report {
    background-color: teal;
}

.w3-card-4 {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 75px;
  }

  .w3-btn w3-blue {
    margin-bottom: 10px;
  }

  .w3-container{
    padding-bottom: 10px;
  }

#nameHeading, #lastNameHeading, #workedTimeHeading:hover {
    background-color: rgb(3, 84, 84);
    cursor: pointer;
}

.triangle {
    display: inline-block;
    margin-left: 7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: px solid black; /* Default triangle pointing down */
}

.sorted-asc .triangle {
    border-top: none;
    border-bottom: 7px solid black; /* Triangle pointing up */
}

.sorted-desc .triangle {
    border-bottom: none;
    border-top: 7px solid black; /* Triangle pointing down */
}