{% extends 'clockInApp/layout.html' %}
{% load static %}

{% block title %}
    Work History Report
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'clockInApp/history_style.css' %}">
    <script type="module" src="{% static 'clockInApp/scripts/history.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Form Section -->
    <div class="history-form">
        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h2>Get Reports</h2>
            </div>
            <form action="" method="POST" class="w3-container form-history">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="w3-btn w3-blue">
            </form>
        </div>
    </div>

    <!-- Dynamic Content Section -->
    <div class="history-content">
        <h1 class="title-content">Recent Time Worked</h1>
    </div>

    <!-- Search Section -->
    <div class="search-div" style="display: none;">
        <input type="search" id="search-history" placeholder="mm-dd-yyyy" class="search-box">
        <button class="search-btn">Search</button>
    </div>

    <!-- Search Results -->
    <div class="search-results" style="display: none">
        <h1 class="search-title">Search Results</h1>
    </div>

    <!-- Additional Scripts -->
    <script type="module" src="{% static 'clockInApp/scripts/sortTableClass.js' %}"></script>
    <script type="module" src="{% static 'clockInApp/scripts/timeFormating.js' %}"></script>
{% endblock %}




