{% extends 'clockInApp/layout.html' %}

{% block title %}

{% endblock %}

{% block content %}
    {% if not times %}
    <div class="w3-card-4">
        <div class="w3-container w3-teal">
            <h2>Get Reports</h2>
        </div>
        <form action="" method="POST" class="w3-container">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="w3-btn w3-blue">
        </form>
    </div>

    {% else %}
    <div class="report-table-div" >
        <table class="table-report" id="reportTable">
            <th class="th-report">Name</th>
            <th class="th-report">Time in</th>
            <th class="th-report">Time out</th>
            <th class="th-report" data-sort="worked-time">Worked time</th>
            <tr>
            {% for time in times %}
            <td class="td-report">{{ time.employee.name }}</td>
            <td class="td-report">{{ time.timeIn }}</td>
            {% if time.timeOut == None %}
                <td class="td-report"></td>
            {% else %}
                <td class="td-report">{{ time.timeOut }}</td>
            {% endif %}
            {% load custom_filters %}
            <td class="td-report">{{ time.worked_time }}</td>
            <!-- <td class="td-report">{{ time.worked_time | format_timedelta }}</td> -->
            </tr>
            {% endfor %}
        {% endif %}
        </table>  
    </div>
    {% load static %}
    <script src="{% static 'clockInApp/scripts/report.js' %}"></script>


{% endblock %}



